:root {
	--primary: #2D2847;
	--gray-dark: #CDCDCD;
	--gray-light: #F5F5F5;
	--white: #FFFF;
	--green: #58CF64;
	--red: #d44444;
}

:focus {
	outline: transparent;
}

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: var(--primary);
	color: var(--white);
}

html {
	-webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Monda', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
}